* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: rgb(42, 140, 186);
	font-family: 'Merriweather', 'Times New Roman', Times, serif;
}

header {
	background-color: blue;
	background-image: linear-gradient(180deg, blue, black);
	color: white;
	font-size: 1.5rem;
	padding-top: 1px;
	overflow: hidden;
	display: flex;
	align-items: center;
	height: 100px;
	margin-bottom: 10px;
}

#nav-links {
	display: flex;
	gap: 20px;
	list-style-type: none;
	padding: 20px;
	width: 100%;
}

.last-nav-link{
	margin-left: auto;
	margin-right: 20px;
}

a {
	margin: 10px;
	text-decoration: none;
	color: white;
}

header li , footer li{
	display: inline;
}

footer {
	font-size: 20px;
	display: flex;
	flex-flow: column;
    align-items: center;
	justify-content: center;
	width: 100%;
	bottom: 0;
}

.profile-title {
	text-align: center;
	margin-bottom: 10px;
	font-family: 'Creepster';
	font-size: 4rem;
	color: rgb(151, 8, 8);
}

.user-info {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

#stephen {
	margin: 2%;
    width: 300px;
    height: 300px;
    border-radius: 80%;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
	.user-info {
		display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }

	.inputs {
		margin: 20px;
		display: flex;
		flex-wrap: wrap;
	}

}

.profile-description {
	padding: 0px 20px;
	line-height: 1.5;
	font-size: 1.5rem;
}

.library {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    width: 100%;
}

.book {
	flex: 1;
	box-shadow: 0 0 20px rgb(70, 70, 70);
	margin: 20px;
	padding: 15px;
	border-radius: 15px;
	background-color: rgb(203, 202, 248);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.book p {
	height: 200px;
	overflow: auto;
}

img {
	width: 250px;
	height: 400px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.buy {
	font-size: 1rem;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	width: 100px;
	margin-top: 4%;
	border-radius: 10px;
	align-items: flex-end;
}

#contact {
	display: flex;
	justify-content: center;
	font-size: 1.3rem;
}

fieldset {
	width: 100%;
}

input, #favourite {
	margin: 10px;
	width: 100%;
}

.inputs {
	margin: 20px;
	display: flex;
	align-items: center;
}

#contact-form input, #contact-form select{
	font-size: 1.2rem;
}