/* Estilos todos los archivos */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(42, 140, 186);
	font-family: 'Merriweather', 'Times New Roman', Times, serif;
}

header {
	background-color: blue;
	background-image: linear-gradient(180deg, blue, black);
	color: white;
	font-size: 1.5rem;
	/* padding-top: 1px;
	overflow: hidden; */
	display: flex;
	align-items: center;
	height: 100px;
	margin-bottom: 10px;
}

main {
	min-height: calc(100vh - 200px);
	color: black;
}

#nav-links {
	display: flex;
	gap: 20px;
	list-style-type: none;
	padding: 20px;
	width: 100%;
}

.last-nav-link{
	margin-left: auto;
	margin-right: 20px;
}

a {
	margin: 10px;
	text-decoration: none;
	color: white;
}

header li , footer li{
	display: inline;
}

footer {
	font-size: 20px;
	display: flex;
    align-items: center;
	justify-content: center;
	background-color: blue;
	background-image: linear-gradient(180deg, black, blue);
	height: 100px;
}

/* Estilos Home */

.profile-title {
	text-align: center;
	margin: 2rem 0;
	font-family: 'Creepster';
	font-size: 4rem;
	color: rgb(151, 8, 8);
	text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9),
                 -5px -5px 15px rgba(255, 0, 0, 0.7);
}

.user-info {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

#stephen {
	margin: 2%;
    width: 300px;
    height: 300px;
    border-radius: 80%;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.profile-description {
	padding: 0px 20px;
	line-height: 1.5;
	font-size: 1.5rem;
}

@media (max-width: 768px) {
	.user-info {
		display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }

	.inputs {
		margin: 20px;
		display: flex;
		flex-wrap: wrap;
	}

}

/* Books */

.library {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    width: 100%;
}

.book {
	flex: 1;
	box-shadow: 0 0 20px rgb(70, 70, 70);
	margin: 1.1rem;
	padding: 1rem;
	border-radius: 15px;
	background-color: rgb(237, 238, 232);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.book p {
	height: 200px;
	overflow: auto;
}

img {
	width: 250px;
	height: 400px;
	border-radius: 10px;
	margin-bottom: 20px;
}

#imagen1:hover {
	content: url("https://upload.wikimedia.org/wikipedia/en/thumb/b/bb/The_shining_heres_johnny.jpg/170px-The_shining_heres_johnny.jpg");
	width: 250px;
	height: 400px;
	border-radius: 10px;
	margin-bottom: 20px;
}

#imagen2:hover {
	content: url("https://media.revistagq.com/photos/65f2cd2c6f3146304b0c4fc5/2:3/w_508,h_762,c_limit/salems-lot.jpg");
	width: 250px;
	height: 400px;
	border-radius: 10px;
	margin-bottom: 20px;
}

#imagen3:hover {
	content: url("https://i.etsystatic.com/9189665/r/il/cf216d/1346342765/il_fullxfull.1346342765_dxe7.jpg");
	width: 250px;
	height: 400px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.buy {
	font-size: 1rem;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	width: 100px;
	margin-top: 4%;
	border-radius: 10px;
	align-items: flex-end;
}

/* Contact */

#contact {
	display: flex;
	justify-content: center;
	font-size: 1.1rem;
	margin-top: 2rem;
}

legend {
	font-weight: bold;
	margin-left: 1rem;
	padding: 0 0.3rem;
}

input, #favourite, textarea {
	margin: 10px;
	width: 100%;
	border-radius: 4px;
}

textarea {
	height: 8rem;
}

#fav {
	width: 300px;
}

.inputs {
	margin: 20px;
	display: flex;
	align-items: center;
}

#contact-form input, #contact-form select{
	font-size: 1.1rem;
}

fieldset {
	border-radius: 10px;
	margin: 2rem 0;
}

#botones {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	padding: 1rem;
	border: none;
}

input[type="submit"], input[type="reset"] {
    color: #fff;
    padding: 0.6rem 0;
	width: 8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	text-align: center;
}

input[type="submit"] {
    background-color: rgb(3, 3, 183);
}

input[type="reset"] {
    background-color: rgb(155, 7, 7);
}